.app {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}

.wrap {
  width: 500px;
}

.select {
  width: 100%;
  position: relative;
}

.select__input {
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-family: sans-serif;
  cursor: pointer;
  justify-content: space-between;
}

.select__dropdown {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 4px;
  top: 40px;
  left: 0;right: 0;
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 23px;
}

.select.open .select__dropdown {
  display: block;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 51%)
}
.select.open .select__input {
  border-bottom: none;
}
.select.open .rotate {
  transform: rotate(180deg);
}

/* ul list  */

.select__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.select__item {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.select__item.selected {
  background: rgb(111 157 235);
}

.select__item:hover {
  background-color: #eee;
  cursor: pointer;
  transition: .15s background-color ease-in;
}
